<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Catalog</title>
</head>
<body>

    <header>
        <a id="logo" href="/">Catalog App</a>
        <div id="login-button" style="display:
        {% if data['logged_in'] %}
        none
        {% endif %}
        {% if not data['logged_in'] %}
        block
        {% endif %}
        ">
            <span class="g-signin"
                  data-scope="openid"
                  data-clientid="163126096200-dmoqe7fl6bg65tktlj7f1nackeqevimr.apps.googleusercontent.com"
                  data-redirecturi="postmessage"
                  data-accesstype="offline"
                  data-cookiepolicy="single_host_origin"
                  data-callback="loginCallback">

            </span>
        </div>
        <button id="logout-button" style="display:
        {% if data['logged_in'] %}
        block
        {% endif %}
        {% if not data['logged_in'] %}
        none
        {% endif %}
        " onclick="logout()">Logout</button>
    </header>

    <div class="container">
        <a href="catalog/add" id="add-item-button" style="display:
        {% if data['logged_in'] %}
        block
        {% endif %}
        {% if not data['logged_in'] %}
        none
        {% endif %}
        ">Add Item</a>

        <br>

        <section id="categories-section">
            <h2>Categories</h2>
            <ul id="categories">
                {% for category in data['categories'] %}
                <li>
                    <a href= "/catalog/{{ category }}/items">{{ category }}</a>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section id="latest-items-section">
            <h2>Latest Items</h2>
            <ul id="latest-items">
                {% for item in data['latest_items'] %}
                <li>
                    <a href="/catalog/{{ item[1] }}/{{ item[0] }}">{{ item[0] }}</a>
                    <em>({{ item[1] }})</em>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>

    <script>
        function loginCallback(authResult) {
            if (authResult['code']) {
                {% if not data['logged_in']  %}
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{ data['state'] }}',
                    processData: false,
                    contentType: 'application/octet-stream; charset=utf-8',
                    data: authResult['code'],
                    success: function(result) {
                        $('#login-button').attr('style', 'display: none');
                        $('#logout-button').attr('style', 'display: block');
                        $('#add-item-button').attr('style', 'display: block');
                    }
                });
                {% endif %}
            } else if (authResult['error']) {
                console.log("Login error: " + authResult['error']);
            } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            }
        }

        function logout() {
            $.ajax({
                type: 'POST',
                url: '/gdisconnect',
                success: function(result) {
                    $('#login-button').attr('style', 'display: block');
                    $('#logout-button').attr('style', 'display: none');
                    $('#add-item-button').attr('style', 'display: none');
                }
            });
        }
    </script>

</body>
</html>